#form-numbers, #form-additional-numbers {
	width: 200px;
	margin: 0 auto;
	text-align: center;
}

#form-numbers > div {
	padding: 10px 20px;
}

#form-numbers hr, input[type=text] {
	width: 88px;
	font-size: 36px;
	text-align: center;
}

#form-numbers button,#form-additional-numbers button {
	font-size: 36px;
	margin-top: 50px;
}

.sum {
	font-size: 48px;
	font-weight: bold;
}